<div class="wrap-col">
  <div class="wrap-row ">
    <div class="chart-wrapper w">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
      </canvas>
    </div>
    <div class="chart-wrapper w">
      <canvas baseChart [datasets]="lineChartData0" [labels]="lineChartLabels0" [options]="lineChartOptions"
        [colors]="lineChartColors0" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  
  <table *ngIf="render" mat-table [dataSource]="data" class="m-a mat-elevation-z8">
    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef> Cases </th>
      <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
    </ng-container>
    <ng-container matColumnDef="todayCases">
      <th mat-header-cell *matHeaderCellDef> Today Cases </th>
      <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
    </ng-container>
    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef> Deaths </th>
      <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>
    <ng-container matColumnDef="todayDeaths">
      <th mat-header-cell *matHeaderCellDef> Today Deaths </th>
      <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
    </ng-container>
    <ng-container matColumnDef="recovered">
      <th mat-header-cell *matHeaderCellDef> Recovered </th>
      <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>
    <ng-container matColumnDef="critical">
      <th mat-header-cell *matHeaderCellDef> Critical </th>
      <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'dd/MM'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="m-a-b">
    <form #f="ngForm" (ngSubmit)="send(f)" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required #first="ngModel">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button class="b3d" type="submit" mat-button color="primary" [disabled]="f.value.password === ''">Send Data to the Back-up Server</button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>